body {
    font-family: 'Oswald', sans-serif;
}
header {
    position: fixed;
    width: 100%;
    height: auto;
    background-image: url(./images/sunrise.jpeg);
    top: 0;
    padding: 10px;
    margin: auto;
}
.heading-one {
    padding 10px;
    margin-top: 20px;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 28px;
}
p {
    font-size: 16px;
}
footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    height: auto;
}
footer p {
    color: white;
}
