body {
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 28px;
}
p {
    font-size: 16px;
}
/*
li {
    display: inline;
    align-items: center;
*/
.navbar {
    position: fixed;
    top: 0;
    color: white;
    background-color: black;
    font-size: 20px;
    overflow:hidden;
    float: left;
    text-align: center;
    padding: 14px 16px;
    width: auto;
}
.navbar ul {
    diaplay: inline;
    align-items: center;
}
.navbar li {
    display: inline;
    align-items: center;
    font-size: 24px;
}